version: "3"

services:
  service:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
        - "3000:3000"
        - "3001:3001"
    environment:
      - FLASK_ENV=development
      - FLASK_APP=service.server:app
      - FLASK_RUN_HOST=0.0.0.0
      - FLASK_RUN_PORT=3000
      - FLASK_DEBUG=1
      - LOG_LEVEL=DEBUG
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_DB=coding_challenge
      - DATABASE_USER=noyo
      - DATABASE_PASSWORD=noyo
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app
    depends_on:
      - db
    links:
      - db

  db:
    image: postgres:9.6-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=coding_challenge
      - POSTGRES_USER=noyo
      - POSTGRES_PASSWORD=noyo
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./schema.sql:/docker-entrypoint-initdb.d/init.sql


volumes:
    db-data:
